.mainPage {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.sectionContainer {
    min-width: 480px;
    max-width: 45%;
    text-align: center;
    justify-content: space-around;
}

.sectionContainer ul {
    padding: 0px;
}

.sectionContainer li {
    list-style-type: none;
}