.mainPage {
    min-height: 910px;
    background-image: url("../images/music-colour-splash.jpg");
    background-color: rgba(193, 255, 186, 0.5);
    color: white;
}

.backgroundOverlay {
    background-color: rgba(14, 199, 14, 0.2);
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    min-height: 910px;
}

.mainPage section {
    margin-top: 0px;
}

.mainPage h2 {
    margin: 10px;
}

.mainPage a {
    color: rgb(157, 157, 182);
}

.mainPage span {
    color: rgb(223, 236, 28);
}

.mainPage button {
    color: white;
    background-color: darkgreen;
}

.header {
    width: 100%;
    max-height: 50px;
    background-color: rgb(5, 50, 10);
    text-align: center;
    padding: 15px;
    margin-bottom: 50px;
}

.trackListSectionContainer {
    max-width: 55%;
    max-height: 725px;
    text-align: center;
    background-color: rgba(5, 50, 10, 0.83);
    border-radius: 3px;
}

.trackListSectionContainer ul {
    padding: 0px;
}

.trackListSectionContainer li {
    list-style-type: none;
}

.trackListSectionContainer {
    margin: 20px;
}

.playlistSectionContainer {
    width: 35%;
    max-height: 725px;
    text-align: center;
    background-color: rgba(5, 50, 10, 0.83);
    border-radius: 3px;
}

.playlistSectionContainer ul {
    padding: 0px;
}

.playlistSectionContainer li {
    list-style-type: none;
}

.playlistSectionContainer {
    margin: 20px;
}

@media only screen and (max-width: 1262px) {
    .trackListSectionContainer, .playlistSectionContainer {
        max-width: 100%;
        width: 100%;
    }
}