.mainPage {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.trackListSectionContainer {
    min-width: 480px;
    max-width: 55%;
    max-height: 845px;
    text-align: center;
}

.trackListSectionContainer ul {
    padding: 0px;
}

.trackListSectionContainer li {
    list-style-type: none;
}

.trackListSectionContainer {
    margin: 20px;
}

.playlistSectionContainer {
    min-width: 480px;
    max-width: 40%;
    max-height: 845px;
    text-align: center;
}

.playlistSectionContainer ul {
    padding: 0px;
}

.playlistSectionContainer li {
    list-style-type: none;
}

.playlistSectionContainer {
    margin: 20px;
}