.contentContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-height: 700px;
    overflow-y: scroll;
    margin-top: 20px;
}

.contentContainer::-webkit-scrollbar {
    display: none;
} 

.tracksContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.playlists {
    width: 45%;
    max-height: 320px;
    overflow-y: scroll;
    margin: 10px;
    border: solid black 1px;
    border-radius: 5px;
}

.playlists::-webkit-scrollbar {
    display: none;
}

.selectedPlaylist {
    width: 45%;
    max-height: 320px;
    overflow: scroll;
    margin: 10px;
    border: solid rgb(6, 190, 6) 5px;
    border-radius: 5px;
}

.selectedPlaylist::-webkit-scrollbar {
    display: none;
}

.playlistsTracks {
    width: 80%;
    margin: 20px;
    border: solid black 1px;
    border-radius: 5px;
}

.trackImg {
    margin-top: 20px;
    position: relative;
    left: 21px;
}

.stickyContent {
    position: sticky;
    top: 19px;
    z-index: 1;
    background-color: white;
}

@media only screen and (max-width: 570px) {
    .playlistsTracks {
        width: 100%;
    }
}

@media only screen and (min-width: 571px) and (max-width: 741px) {
    .playlistsTracks {
        width: 39%;
    }
}

@media only screen and (min-width: 742px) and (max-width: 1262px) {
    .contentContainer {
        width: 100%;
    }

    .playlistsTracks {
        width: 27%;
    }
}

@media only screen and (min-width: 1263px) and (max-width: 1501px) {
    .playlistsTracks {
        width: 35%;
    }
}

@media only screen and (max-width: 1501px) {
    .playlists, .selectedPlaylist {
        width: 100%;
    }

    .tracksContainer {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
}