.contentContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-height: 700px;
    overflow-y: scroll;
    margin-top: 20px;
}

.contentContainer::-webkit-scrollbar {
    display: none;
}

.tracks {
    border: solid black 1px;
    width: 27%;
    min-height: 200px;
    margin: 5px;
    border-radius: 5px;
    padding: 5px;
}

.tracks li {
    margin-top: 5px;
}

.tracks ul {
    margin-top: 0px;
}

.trackImg {
    margin-top: 20px;
}

@media only screen and (max-width: 499px) {
    .tracks {
        width: 100%;
    }
}
 
@media only screen and (min-width: 500px) and (max-width: 675px) {
    .tracks {
        width: 45%;
    }
}