.contentContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-height: 700px;
    overflow: scroll;
    margin-top: 20px;
}

.tracks {
    border: solid black 1px;
    width: 23%;
    min-height: 200px;
    margin: 5px;
    border-radius: 5px;
    padding: 5px;
}

.tracks li {
    margin-top: 5px;
}

.tracks ul {
    margin-top: 0px;
}

.trackImg {
    margin-top: 20px;
}